<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Magelearn::top_level" title="Seller" module="MySeller_Myform" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="MySeller_Myform::manage_mlcustomform" title="Seller Form" module="MySeller_Myform" sortOrder="9999" resource="MySeller_Myform::manage_mlcustomform" parent="Magelearn::top_level" action="mladmincustomform/customform"/>
	</menu>
</config>
