<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Product\ListProduct" type="MultiUom\I95DevConnect\Block\Product\ListProduct" />
    <preference for="MutltiUom\I95DevConnect\Api\Data\UomInterface" type="MultiUom\I95Dev\Model\Uom" />
    <virtualType name="Webkul\Grid\Model\ResourceModel\Grid\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">MultiUom_I95DevConnect_Table</argument>
            <argument name="resourceModel" xsi:type="string">MultiUom\I95DevConnect\Model\ResourceModel\Uom</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="grid_record_grid_list_data_source" xsi:type="string">MultiUom\I95DevConnect\Model\ResourceModel\Uom\Uom\Collection</item>
            </argument>
        </arguments>
    </type>
</config>





































